openapi: 3.2.0
info:
  title: Reference Subpackage Entities API
  version: 1.0.0
servers:
- url: https://app.polytomic.com
tags:
- name: subpackage_entities
paths:
  /api/entities/{id}:
    get:
      operationId: get
      summary: Get Entity
      description: 'Returns a resolved entity by ID.


        Looks up a UUID within the caller''s current organization and returns the

        resource type plus enough context to fetch the canonical resource.


        This endpoint is useful when you have an execution, sync, model, connection,

        organization, or user UUID and need to determine what it refers to.


        The response always includes:


        - `id`: the UUID that was resolved.

        - `type`: the resolved entity type.

        - `canonical_path`: the canonical REST path for the resolved resource.


        The response may also include:


        - `relationships`: parent resources needed to address nested resources.

        - `context`: lightweight additional context, such as bulk sync `schema_ids`.


        For the normal user-scoped endpoint, `organization_id` is omitted from the

        response.


        Supported `type` values currently include:


        - `organization`

        - `user`

        - `connection`

        - `model`

        - `sync`

        - `sync_execution`

        - `bulk_sync`

        - `bulk_sync_execution`


        Examples:


        - A model sync execution resolves to a `sync_execution` and includes a `sync`

        relationship.

        - A bulk sync execution resolves to a `bulk_sync_execution`, includes a

        `bulk_sync` relationship, and may include `context.schema_ids`.


        If the UUID does not exist, or exists outside the caller''s scoped

        organization, the endpoint returns `404`.'
      tags:
      - subpackage_entities
      parameters:
      - name: id
        in: path
        description: UUID of the entity to resolve.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Bearer user API key
        required: true
        schema:
          type: string
      - name: X-Polytomic-Version
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResponseEnvelope'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/organizations/entities/{id}:
    get:
      operationId: get-for-partner
      summary: Get Partner Entity
      description: 'Returns a resolved entity by ID within a partner organization scope.


        Looks up a UUID across organizations using partner authentication and returns

        the resource type plus enough context to fetch the canonical resource.


        This endpoint is intended for cross-organization partner workflows where the

        caller has an arbitrary UUID and needs to discover both the resource type and

        the organization it belongs to.


        The response always includes:


        - `id`: the UUID that was resolved.

        - `type`: the resolved entity type.

        - `canonical_path`: the canonical REST path for the resolved resource.

        - `organization_id`: the organization that owns the resolved resource.


        The response may also include:


        - `relationships`: parent resources needed to address nested resources.

        - `context`: lightweight additional context, such as bulk sync `schema_ids`.


        Supported `type` values currently include:


        - `organization`

        - `user`

        - `connection`

        - `model`

        - `sync`

        - `sync_execution`

        - `bulk_sync`

        - `bulk_sync_execution`


        Examples:


        - A model sync execution resolves to a `sync_execution` and includes a `sync`

        relationship.

        - A bulk sync execution resolves to a `bulk_sync_execution`, includes a

        `bulk_sync` relationship, and may include `context.schema_ids`.


        If the UUID does not exist, the endpoint returns `404`.'
      tags:
      - subpackage_entities
      parameters:
      - name: id
        in: path
        description: UUID of the entity to resolve.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Bearer partner API key
        required: true
        schema:
          type: string
      - name: X-Polytomic-Version
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResponseEnvelope'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    ApiError:
      type: object
      properties:
        key:
          type: string
        message:
          type: string
        metadata:
          type: object
          additionalProperties:
            description: Any type
        status:
          type: integer
      title: ApiError
    EntityResponse:
      type: object
      properties:
        canonical_path:
          type: string
          description: Canonical REST path for the resolved resource, suitable for fetching it directly.
        context:
          type: object
          additionalProperties:
            description: Any type
          description: Lightweight additional context about the resolved entity, such as bulk sync schema_ids.
        id:
          type: string
          format: uuid
          description: UUID that was resolved.
        organization_id:
          type: string
          format: uuid
          description: Organization that owns the resolved resource. Omitted from responses on the user-scoped endpoint.
        relationships:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EntityRelationship'
          description: Parent resources needed to address nested resources, keyed by relationship name (e.g. "sync", "bulk_sync").
        type:
          type: string
          description: 'Resolved entity type. One of: organization, user, connection, model, sync, sync_execution, bulk_sync, bulk_sync_execution.'
      title: EntityResponse
    EntityRelationship:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID of the related resource.
        path:
          type: string
          description: Canonical REST path of the related resource.
      title: EntityRelationship
    EntityResponseEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EntityResponse'
      title: EntityResponseEnvelope
  securitySchemes:
    bearerUserAPIKey:
      type: http
      scheme: bearer
      description: Bearer user API key
    orgScopedAPIKey:
      type: http
      scheme: basic
      description: Basic organization-scoped API key
    bearerPartnerKey:
      type: http
      scheme: bearer
      description: Bearer partner API key
